<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Document</title>
</head>

<body>
    <h1>This is the perfil page!</h1>

    <div>
        <h1>Nombre: {{name}}</h1>
        <h1>ocupacion: {{ocupation}}</h1>
        <ol>
            <li></li>
            <li></li>
        </ol>
    </div>

    <form>
        <input type="text" name="name" id="Name">
        <input type="text" name="ocupation" id="Ocupation">
        <input type="submit" value="Enviar">
    </form>

</body>

</html>